html {
  // text
  --text-color: rgba(0 0 0 / 85%);

  // border
  --border-color: #eee;

  &[data-theme='dark'] {
    // text
    --text-color: #c9d1d9;

    // border
    --border-color: #303030;
  }
}

// =========border-color============
@border-color-base: var(--border-color);

// ===========Text color============
// Main text color
@text-color-base: var(--text-color);
