/**
 * NProgress 进度条样式
 * 参考 vben-admin design/css/nprogress.css，使用 CSS 变量，不依赖 Tailwind
 */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1031;
  width: 100%;
  height: 2px;
  background: hsl(var(--primary));
}

#nprogress .peg {
  position: absolute;
  right: 0;
  display: block;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px hsl(var(--primary)), 0 0 5px hsl(var(--primary));
  opacity: 1;
  transform: rotate(3deg) translate(0, -4px);
}

#nprogress .spinner {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1031;
  display: block;
}

#nprogress .spinner-icon {
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top-color: hsl(var(--primary));
  border-left-color: hsl(var(--primary));
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  position: relative;
  overflow: hidden;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
